apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
  labels:
    app: node-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
      - name: node-app
        image: chandrakanthreddy1/node-app:8feb4e08ae2fe47fb624671db9a50236e60e9c6f
        ports:
        - containerPort: 3000