apiVersion: v1
kind: Service
metadata:
  name: node-app
spec:
  selector:
    app: node-app
  ports:
    - protocol: TCP
      port: 3000        # Service port (inside cluster)
      targetPort: 3000  # Container port
      nodePort: 30085   # External port on each node
  type: NodePort